<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/MapCanva"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gps_app"
        tools:targetApi="31">

        <activity
            android:screenOrientation="portrait"
            android:name="com.wardanger3.gps_app.DrawingActivity"
            android:exported="false"
            android:label="@string/DrawingActivity"
            android:theme="@style/Theme.Gps_app" />

        <activity
            android:screenOrientation="portrait"
            android:name="com.wardanger3.gps_app.ColorPickerActivity"
            android:exported="false"
            android:label="@string/DrawingActivity"
            android:theme="@style/Theme.Gps_app" />

        <activity
            android:screenOrientation="portrait"
            android:name="com.wardanger3.gps_app.DrawingActivitySC"
            android:exported="false"
            android:label="@string/DrawingActivitySC"
            android:theme="@style/Theme.Gps_app" />

        <activity
            android:screenOrientation="portrait"
            android:name="com.wardanger3.gps_app.Finish"
            android:exported="false"
            android:label="@string/Finish"
            android:theme="@style/Theme.Gps_app" />

        <activity
            android:screenOrientation="portrait"
            android:name="com.wardanger3.gps_app.FinishSC"
            android:exported="false"
            android:label="FinishSC"
            android:theme="@style/Theme.Gps_app" />

        <activity
            android:screenOrientation="portrait"
            android:name="com.wardanger3.gps_app.manuals.IntroductionActivity"
            android:exported="true"
            android:label="IntroductionActivity"
            android:theme="@style/Theme.Gps_app"/>

        <activity
            android:screenOrientation="portrait"
            android:name="com.wardanger3.gps_app.manuals.IntroductionActivity2"
            android:exported="true"
            android:label="IntroductionActivity2"
            android:theme="@style/Theme.Gps_app"/>

        <activity
            android:screenOrientation="portrait"
            android:name="com.wardanger3.gps_app.manuals.IntroductionActivity3"
            android:exported="true"
            android:label="IntroductionActivity3"
            android:theme="@style/Theme.Gps_app"/>

        <activity
            android:screenOrientation="portrait"
            android:name="com.wardanger3.gps_app.manuals.IntroductionActivity4"
            android:exported="true"
            android:label="IntroductionActivity4"
            android:theme="@style/Theme.Gps_app"/>

        <activity
            android:screenOrientation="portrait"
            android:name="com.wardanger3.gps_app.MainActivity"
            android:exported="true"
            android:label="@string/MapCanva"
            android:theme="@style/Theme.Gps_app">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <!-- 5856401808246306~4748234492 -->
    </application>
</manifest>